message-item .messageItem ion-label {
  white-space: normal;
  overflow: auto;
}

message-item .messageItem{
  width: 55%;
  margin-top: 16px;
  border-radius: 40px;
  color: white;
}

message-item #local {
  margin-left: 40%;
  background: var(--ion-color-primary);
}

message-item #remote {
  margin-left: 16px;
  background: var(--ion-color-medium);
}