room-page .messageItem ion-label {
  white-space: normal;
  overflow: auto;
}

room-page .messageItem {
  margin-left: 39%;
  margin-right: 16px;
  margin-top: 16px;
  padding: 0.3em;
  background: var(--ion-color-primary);
  border-radius: 40px;
  color: white;
}